@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white font-sans overflow-hidden antialiased;
    background-color: transparent !important;
  }
}

.ProseMirror {
  outline: none;
  min-height: 200px;
}
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

/* Draggable handle region to move the frameless window */
.drag-region {
  -webkit-app-region: drag;
}

.no-drag-region {
  -webkit-app-region: no-drag;
}
